@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter {
  transform: translateX(100px);
  opacity: 0;
}
.slide-fade-exit-to {
  transform: translateX(-100px);
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: all 0.4s ease-in-out;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}
body {
  scroll-behavior: smooth;
}
@keyframes slideOutFade {
  from {
    transform: translateX(0%);
    opacity: 100%;
  }

  to {
    transform: translateX(-100px);
    opacity: 0%;
  }
}
@keyframes slideInFade {
  from {
    transform: translateX(100px);
    opacity: 0%;
  }

  to {
    transform: translateX(0%);
    opacity: 100%;
  }
}

::view-transition-old(slide) {
  animation: 300ms both slideOutFade;
}

::view-transition-new(slide) {
  animation: 300ms both slideInFade;
}

.slide {
  view-transition-name: slide;
}
